*,
*:after,
*:before {
  letter-spacing: unset;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('./img/desert.jpg');
  background-size: cover; /* Cover the entire body */
  padding: 0;
  margin: auto;
  display: unset;
  flex-direction: unset;
  align-items: unset;
  height: unset;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  padding-bottom: 0;
  letter-spacing: unset;
}

.legal-notice-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 32px 16px;
  height: 100vh;
  overflow-y: auto;
}

.paragpraph{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.back-button {
  margin-left: auto;
}

.back-button img {
  height: 24px;
  width: 24px;
}

.headline-nav {
  display: flex;
  align-items: center;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.email-link {
  color: #0037eb;
  text-decoration: none;
}
