@font-face {
    font-family: 'Zabars';
    src: url('./fonds/Zabars.ttf') format('truetype');
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./img/desert.jpg');
    background-size: cover;
    font-family: 'Zabars', Arial, Helvetica, sans-serif;
    margin: 0;
    overflow: hidden;
}

.canvas-container {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    max-width: 720px;
}

.d-none {
    display: none;
}

.coins-home {
    position: absolute;
    top: 86%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-over,
#game-win {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
}

#game-over,
#game-win,
.intro-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#game-over img,
#game-win img,
.intro-screen img {
    width: 100%;
    height: 100%;
    display: block;
}

#win-screen-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#coin-display {
    font-size: 24px;
    color: white;
    margin-top: 20px;
}

#game-over button,
#game-win button {
    border: none;
    text-align: center;
    padding: 15px 32px;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.1s ease;
    font-family: 'Zabars';
    font-size: 1.6em;
    padding: 0em 2em;
    cursor: pointer;

}

.home-restart-buttons {
    position: absolute;
    top: 84%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
}

#game-over button:hover,
#game-win button:hover {
    transform: scale(1.1);

}

canvas {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 95%);

}


.title {
    font-size: 64px;
    margin-block-end: 10px;
    margin-block-start: 20px;
    letter-spacing: 3px;
    text-shadow: 1px 1px 12px rgb(255 255 255 / 98%);
}

.pannel-wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.BtnUp {
    padding: 5px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.Btn {
    padding: 5px;
    height: 30px;
    width: 30px;

}

.default {
    cursor: default !important;
}

.pannelTop {
    position: absolute;
    z-index: 1000;
    top: 10px;
    right: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: right;
}

.pannel-wrapper-up {
    display: flex;
    width: 150px;
    justify-content: space-between;

}

.pannel-wrapper-down {
    display: flex;
    justify-content: space-between;
    width: 120px;
}

.pannel {
    display: flex;
    justify-content: space-between;
    width: 700px;
    align-items: center;
}

.pannelBottom {
    position: fixed;
    bottom: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    display: none;
    z-index: 100;
    top: 87%;
    right: 0px;
    left: 0;
}

button {
    padding: 0;
    margin: 0;
    background-color: rgb(255, 150, 0);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.fullscreen {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.column {
    display: flex;
    flex-direction: column;
}

.img-full-canvas {
    width: 720px;
    height: 480px;
}

.img-intro {
    width: 720px;
    height: 480px;
}

.start-button {
    font-family: 'Zabars';
    font-size: 2em;
    padding: 1em 2em;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.play-description {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-description {
    margin-block-start: 10px;
    font-size: 24px;
    margin-block-end: 0;
    text-shadow: 1px 1px 12px rgb(255 255 255 / 98%);
}

.how-to-play {
    margin-block-start: 0px;
    font-size: 24px;
    margin-block-end: 0;
    text-align: center;
    text-shadow: 1px 1px 12px rgb(255 255 255 / 98%);
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    height: 100%;
    color: #f0f0f0;
    background-color: rgba(0, 0, 0, 0.7);
    font-family: 'Press Start 2P', cursive;
}

.overlay-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    font-size: 10px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: white;
    z-index: 10000;
}

.close-button:hover {
    transform: scale(1.1);
}

.overlay-content {
    position: relative;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #222;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.overlay h2 {
    color: #ffcc00;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.overlay-content a {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: rgb(255, 150, 0);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.overlay-content a:hover {
    background-color: rgba(255, 149, 0, 0.568);
    box-shadow: 0px 0px 8px rgb(255, 196, 1);
}

.hidden {
    display: none;
}


.warn-Display {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-weight: 300;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 2em;
    z-index: 10000;
    font-family: 'Zabars';
    animation: pulse 2s ease infinite;
    font-weight: normal;
}

.warn-Display img {
    max-height: 96px;
    max-width: 96px;
}

.warn-Display p {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}


@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.show-panel {
    display: flex !important;
}




@media only screen and (max-height: 480px) {

    canvas,
    .img-full-canvas,
    .img-intro,
    .backgroung-buttons-canvas {
        height: 100vh;
    }

    .title {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    body:not(:where([style*="height:100vh"])):not([style*="height: 100vh"]) {
        .warn-Display {
            display: flex;
        }

        .canvas-container {
            display: none;
        }
    }

    .title {
        display: none;
    }
}

@media only screen and (max-width: 720px) {

    canvas,
    .img-intro,
    .img-full-canvas,
    .backgroung-buttons-canvas {
        width: 100%;
    }

    .title {
        font-size: 42px;
    }
}

@media (max-width: 1024px) {

    #pannelBottom {
        display: flex;
    }
}

@media (max-width: 1266px) {

    body {
        background-size: auto;
    }
}