@font-face {
    font-family: 'Zabars';
    src: url('./img/fonds/Zabars.ttf') format('truetype');
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('img/desert.png');
    background-position: center;
    font-family: 'Zabars', Arial, Helvetica, sans-serif;
    margin: 0;
}

.canvas-contaner {
    position: relative;
}

#canvas-container {
    position: relative;
}

canvas {
    background-color: black;
    display: block;
    position: relative;

}

.title {
    font-size: 64px;
    margin-block-end: 10px;
    margin-block-start: 20px;
    letter-spacing: 3px;
    text-shadow: 1px 1px 12px rgb(255 255 255 / 98%);
}

.pannel-wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.BtnUp {
    padding: 5px;
    height: 30px;
    width: 30px;
    cursor:pointer;
}
.Btn {
    padding: 5px;
    height: 30px;
    width: 30px;
    
}
.default{
    cursor:default !important;
}
.pannel-wrapper-up {
    display: flex;
    justify-content: space-between;
    width: 180px;
    padding-left: 529px;
}

.pannel-wrapper-down {
    display: flex;
    justify-content: space-between;
    width: 120px;
}

.pannel {
    display: flex;
    justify-content: space-between;
    width: 700px;
    align-items: center;
}

.pannelBottom {
    display: flex;
    justify-content: space-between;
    width: 700px;
    align-items: center;
}

.backgroung-buttons-canvas {
    display: flex;
    position: absolute;
    z-index: 10;
    top: 10px;
    right: 0;
    left: 0;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 700px;
     height: 560px;
}

button {
    padding: 0;
    margin: 0;
    background-color: rgb(255, 150, 0);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.fullscreen {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.column{
    display: flex;
    flex-direction: column;
}

.intro-screen {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.img-intro{
    width: 720px;
    height:480px;
}
.start-button {
    font-family: 'Zabars';
    font-size: 2em;
    padding: 1em 2em;
    cursor: pointer;
    position: absolute; /* Position relative to the canvas container */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the button */
}

.play-description {
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-description{
    margin-block-start: 10px;
    font-size: 24px;
    margin-block-end: 0;
    text-shadow: 1px 1px 12px rgb(255 255 255 / 98%);
}
.how-to-play{
    margin-block-start: 0px;
    font-size: 24px;
    margin-block-end: 0;
    text-align: center;
    text-shadow: 1px 1px 12px rgb(255 255 255 / 98%);
}

/* Smartphones */
@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
    .title {
        font-size: 42px;
    }
}

/* Smartphones */
@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    .title {
        display: none;
    }
}
